/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Cinzel:wght@400;500;600&display=swap');
@import './misc/variables';
@import './mixins/mixings';

/*Reset*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $font_menu;
    color: $cr_menu;
}

body{
    width: 100%;
    min-height: 100vh; 
}


.grilla{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    max-width: 100%;
}


/*HELPERS*/
.flex-row{
    display: flex;

}

.flex-wrap{
    flex-wrap: wrap;
    gap: 5em;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.centrar{
    align-items: center;
    justify-content: center;
}

/*header*/



header{
    background-color: $cr_ppal;
    width: 100%;

    ul{
        list-style-type: none;
        margin-right: 10em;
    }
    
    a { 
        color: $cr_menu;
        text-decoration: none;
        display: inline-block;
    }

    .logo{
        flex-basis: 20%;
        }
    .logo_size{
        height: 8em;
        width: 8em;
    }

    .navbar{
        min-height: 8.5vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem; 
        flex-wrap: wrap;
    }

    .menu{
        flex-basis: 70%;
        @include flex($justify: space-between, $align: center);
    }

    .menu__item{
        border-bottom: 2px solid $cr_transparent;
        transition: transform 1s;
    
    }
    .menu__item__active{
        @extend .menu__item;
        border-bottom: 2px solid $cr_scdary;
    }

    .menu .menu__item .menu__link{
        font-size: $text_md;
        padding: 1rem;
    }

    .menu__item:hover{
        border-bottom: 2px solid $cr_scdary;
        transition: border-color .3s ease-in-out;

    }
    .sub-menu{
        display: none;
        padding: 1rem;
        border-bottom: 2px solid $cr_transparent;
        font-size: $text_md;
    }
    
    
    
    .sub-menu__link:hover{
        background-color: $cr_ppal;
        transition: background-color .3s ease-in-out;
        border-bottom: solid $cr_scdary 1px;
      
    }
    
    
    .menu__item:hover .sub-menu{
        display: flex;
        flex-direction: column;
        gap: .3em;
        position: absolute;
    }
}




footer{
    background-color: $cr_ppal;
    min-height: 8.5em;
    padding: 0 2rem;
    
    .alineado{
        justify-content: space-between;
        align-items: center;
    }
    .parrafo{
        /* display: inline-block; */
        width: 100%;
        height: 100%;
        font-size: $text_md;
        
    }
}

@media screen and (max-width: 990px){
    .logo{
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
    }
    header .menu{
        flex-basis: 100%;
        justify-content: space-between;
        padding-left: 0;
        
    }
    ul{
        margin-right: 0;
    }
   
}
