@import url(../parcials/general.css);

body{
    min-height: 100vh;
}

.about_fondo{
    background-color: #06882785;
    
}

.foto_descrip{
    background-color: antiquewhite;
}

.ubicacion_elementos{
    justify-content: space-around;
}


.section{
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}



.parrafo_descrip{
    flex-basis: 40%;
    min-width: 300px;
    font-size: var(--text_md);
    padding: 10px;
    margin: 10px;
    border: solid 3px black;

    
}


.imagen{
    flex-basis: 50%;
    width: 100%;
    height: auto;
    padding: 10px;
    min-width: 175px;
    max-width: 500px;
    border: solid 3px black;
}

.imagen_about{
    flex-basis: 50%;
    padding: 10px;
    

}


@media screen and (max-width: 800px){
    
    header{
        padding: 20px;
    }
    
    header .navbar{
        flex-wrap: wrap;
        justify-content: center;
    }

   header ul{
       margin-right: 0;
   }
    .section{
        flex-wrap: wrap;
    }
    .parrafo_descrip{
        flex-basis: 100%;
        font-size: var(--text_md);
    }
    .imagen_about{
        flex-basis: 100%;

    }
}



