<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/viewsa/product_manzana.css">
    <title>Document</title>
</head>
<body class="grilla">
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="./index.html"> <img src="../img/logo.png" alt="logo de la empresa chacra vieja" class="logo_size"></a>
            </picture>
            <ul class="menu flex-row">
                 <li class="menu__item">
                     <a href="../index.html" class="menu__link"> Inicio</a>
                 </li> 
                 <li class="menu__item">
                     <a href="./about.html" class="menu__link"> About</a>
                 </li>
                 <li class="menu__item">
                     <a href="./productos.html" class="menu__link"> Productos</a>
                         <ul class="flex-column sub-menu">
                             <li>
                                 <a href="./product_manzana.html" class="sub-menu__link">Manzanas</a>
                             </li>
                             <li>
                                 <a href="./product_pera.html" class="sub-menu__link">Peras</a>
                             </li>
                             <li>
                                 <a href="./product_durazno.html" class="sub-menu__link">Duraznos</a>
                             </li>
                         </ul>
                     </a>
                 </li>
                 <li class="menu__item">
                      <a href="./contacto.html" class="menu__link"> Contacto</a>
                 </li>
            </ul>
        </nav>
    </header> 
    
    <footer class="footer">
        <div class="flex-column container parrafo centrar">
            <p>
                maildecontacto@gmail.com
            </p>
            <p>
                123-4567890
            </p>
        </div>
    </footer>
</body>
</html>