/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Cinzel:wght@400;500;600&display=swap");
/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: var(--font_menu);
  color: var(--cr_menu); }

body {
  width: 100%;
  min-height: 100vh; }

.grilla {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  max-width: 100%; }

/*VARIABLES*/
:root {
  --cr_ppal: #8cdb6dc5;
  --cr_transparent: #8cdb6d00;
  --cr_scdary: #ffffff;
  --cr_menu: #000000;
  --font_slogan: "cinzel";
  --font_menu: "arimo";
  --text_xlg: 10em;
  --text_lg: 7em;
  --text_xm: 2.6em;
  --text_lm: 2.5em;
  --text_md: 2em;
  --text_xs: 1.5em;
  --text_sml: 1em; }

/*HELPERS*/
.flex-row {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap;
  gap: 5em; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

.centrar {
  align-items: center;
  justify-content: center; }

/*header*/
header {
  background-color: var(--cr_ppal);
  width: 100%; }
  header ul {
    list-style-type: none;
    margin-right: 10em; }
  header a {
    color: var(--cr_menu);
    text-decoration: none;
    display: inline-block; }
  header .logo {
    flex-basis: 20%; }
  header .logo_size {
    height: 8em;
    width: 8em; }
  header .navbar {
    min-height: 8.5vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    flex-wrap: wrap; }
  header .menu {
    flex-basis: 70%;
    justify-content: space-between; }
  header .menu__item {
    border-bottom: 2px solid var(--cr_transparent);
    transition: transform 1s; }
  header .menu .menu__item .menu__link {
    font-size: var(--text_md);
    padding: 1rem; }
  header .menu__item:hover {
    border-bottom: 2px solid var(--cr_scdary);
    transition: border-color .3s ease-in-out; }
  header .sub-menu {
    display: none;
    padding: 1rem;
    border-bottom: 2px solid var(--cr_transparent);
    font-size: var(--text_md); }
  header .sub-menu__link:hover {
    background-color: var(--cr_ppal);
    transition: background-color .3s ease-in-out;
    border-bottom: solid var(--cr_scdary) 1px; }
  header .menu__item:hover .sub-menu {
    display: flex;
    flex-direction: column;
    gap: .3em;
    position: absolute; }

footer {
  background-color: var(--cr_ppal);
  min-height: 8.5em;
  padding: 0 2rem; }
  footer .alineado {
    justify-content: space-between;
    align-items: center; }
  footer .parrafo {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    font-size: var(--text_md); }

@media screen and (max-width: 990px) {
  .logo {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around; }
  header .menu {
    flex-basis: 100%;
    justify-content: space-between;
    padding-left: 0; }
  ul {
    margin-right: 0; } }
